# registry=http://nexus-cicd-ibo.apps.ocpdev.dti.co.id/repository/npm-group/
# sass_binary_site=http://nexus-cicd-ibo.apps.ocpdev.dti.co.id/repository/node-sass/
https-proxy=http://proxy.intra.bca.co.id:8080/
proxy=http://proxy.intra.bca.co.id:8080/
# registry=http://registry.npmjs.org/